<spinner *ngIf="!surveys; else list"></spinner>

<ng-template #list>
    <div class="row mt-3">
        <div class="col col-3">
            <h5>Категория</h5>
            <ul style="list-style-type: none;">
                <li *ngFor="let category of categories; let i=index">
                    <input type="checkbox" name="category-{{i}}" [(ngModel)]="selectedCategories[i]"
                           id="category-{{i}}" (change)="addCategoryId(category?.id)"/>
                    <label for="category-{{i}}" class="ps-2">
                        {{category?.title}}
                    </label>
                </li>
            </ul>
        </div>
        <h3 *ngIf="surveys?.length == 0" class="col col-9">Опросов нет</h3>

        <div *ngIf="surveys?.length != 0 && !isStatistics" class="col col-9">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" *ngFor="let s of surveys"
                   [routerLink]="[s?.id]">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{s?.title}}</h5>
                        <small>{{s?.updatedDate}}</small>
                    </div>
                </a>
            </div>
        </div>

        <div *ngIf="surveys?.length != 0 && isStatistics" class="col col-9">
            <div class="list-group">
                <a class="list-group-item list-group-item-action"
                   *ngFor="let s of surveys" [routerLink]="[s?.id]">
                    <h5 class="mb-1">{{s?.title}}</h5>
                </a>
            </div>
        </div>

    </div>
</ng-template>