<form method="post" (submit)="saveSurvey()">
    <div class="form-group">
        <input class="form-control mt-3"
               value="{{survey.title}}" [(ngModel)]="survey.title"
                name="survey-{{survey.title}}"/>
    </div>
    <div class="form-group">
        <select [(ngModel)]="survey.type" name="type" 
                class="form-select form-select-sm mt-3" aria-label=".form-select-sm example">
            <option value="ForStatistics">Для статистики</option>
            <option value="ForQuiz">Для викторины</option>
        </select>
    </div>

    <div class="card mt-3" *ngFor="let q of survey.questions">
        <div class="card-body">
            <div class="form-group">
                <input class="form-control" name="question-{{q.title}}"
                       value="{{q.title}}" [(ngModel)]="q.title"/>
            </div>

            <div *ngFor="let o of q.options">
                <div class="form-group">
                    <input class="form-control mt-2"
                           name="option-{{o.title}}"
                           value="{{o.title}}"
                           [(ngModel)]="o.title"/>
                </div>
            </div>

        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-submit mt-3 mb-3"/>
    </div>
</form>
