<h3 class="mt-3">Информация о пользователе</h3>
<div class="row mt-3">
    <div class="col">
        <h5>Email:</h5>
    </div>
    <div class="col">
        <h5>{{user?.email}}</h5>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <h5>Имя пользователя:</h5>
    </div>
    <div class="col">
        <h5>{{user?.userName}}</h5>
    </div>
</div>
<div class="row mt-3" *ngIf="isAdmin">
    <div class="col">
        <h5>Локаут включен:</h5>
    </div>
    <div class="col">
        <h5 *ngIf="user?.lockoutEnabled">Да</h5>
        <h5 *ngIf="!user?.lockoutEnabled">Нет</h5>
    </div>
</div>
<div class="row mt-3" *ngIf="user?.lockoutEnd && isAdmin">
    <div class="col">
        <h5>Время окончания локаута:</h5>
    </div>
    <div class="col">
        <h5>{{user?.lockoutEnd}}</h5>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <h5>Пользователь заблокирован:</h5>
    </div>
    <div class="col">
        <h5 *ngIf="user?.isDisabled">Да</h5>
        <h5 *ngIf="!user?.isDisabled">Нет</h5>
    </div>
</div>
<div class="row mt-3" *ngIf="user?.isDisabled">
    <div class="col">
        <h5>Время отключения блокировки:</h5>
    </div>
    <div class="col">
        <h5>{{user?.disabledEnd}}</h5>
    </div>
</div>
<div class="row mt-3" *ngIf="user?.roles?.length != 0">
    <div class="col">
        <h5>Роли пользователя:</h5>
    </div>
    <div class="col">
        <h5>{{user?.roles?.toString()}}</h5>
    </div>
</div>
<div class="row mt-3" *ngIf="user?.surveys?.length != 0">
    <div class="col">
        <h5>Общее количество созданных опросов:</h5>
    </div>
    <div class="col">
        <h5>{{user?.surveys?.length}}</h5>
    </div>
</div>

<mat-expansion-panel class="mt-3" *ngIf="user?.surveys?.length != 0"
                     (opened)="openCreatedSurveys = true"
                     (closed)="openCreatedSurveys = false">
    <mat-expansion-panel-header>
        <h5 class="mt-2 mb-2">Последние созданные опросы</h5>
    </mat-expansion-panel-header>
    <div class="list-group mt-3">
        <a class="list-group-item list-group-item-action" *ngFor="let s of user?.surveys"
           [routerLink]="['/statistics/',s?.id]">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{s?.title}}</h5>
                <small>{{s?.updatedDate}}</small>
            </div>
        </a>
    </div>
</mat-expansion-panel>

<mat-expansion-panel class="mt-3" *ngIf="!isAdmin"
                     (opened)="openPassedSurveys = true"
                     (closed)="openPassedSurveys = false">
    <mat-expansion-panel-header>
        <h5 class="mt-2 mb-2">Последние пройденные опросы</h5>
    </mat-expansion-panel-header>
    <div class="list-group mt-3">
        <a class="list-group-item list-group-item-action" *ngFor="let s of passedSurveys"
           [routerLink]="['/user-statistics/',s?.id]">
                <h5 class="mb-1">{{s?.title}}</h5>
        </a>
    </div>
</mat-expansion-panel>



