<spinner *ngIf="!survey; else detail"></spinner>

<ng-template #detail>
    <h3 class="mt-3">{{survey?.title}}</h3>
    <span class="text-danger">* - Обязательный опрос</span>
    <div *ngIf="survey?.isAnonymousAllowed && !authService.loginRequired">
        <input [(ngModel)]="isAnonymous"
               id="anonymous" type="checkbox"
               (change)="setIsAnonymous(isAnonymous)">
        <label for="anonymous" class="ps-2">Анонимно</label>
    </div>
    <form #surveyForm="ngForm" method="post" (submit)="answerSurvey()">
        <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
        <div class="card mt-3" *ngFor="let q of survey?.questions; let i=index">
            <div class="card-body">
                <h5 class="card-title">
                    {{q?.title}} <span class="text-danger" *ngIf="q?.required">*</span>
                </h5>
                <span class="text-black"
                      *ngIf="q?.multiple">Максимальное количество выбранных ответов: {{q.maxSelected}}</span>
                <div *ngFor="let o of q?.options; let j=index">

                    <div *ngIf="q?.multiple; else radio">
                        <input id="{{o?.id}}-check" type="checkbox"
                               (change)="addOrRemoveSelectedOption(i, j, o)">
                        <label matTooltip="{{o?.subtitle}}"
                               [matTooltipDisabled]="disableTooltip(i, j, o)"
                               class="ps-2" for="{{o?.id}}-check">
                            {{o?.title}}
                        </label>
                    </div>

                    <ng-template class="card-text" #radio>
                        <input id="{{o?.id}}-radio"
                               name="{{q?.title}}" type="radio"
                               (change)="addOrRemoveSelectedOption(i, j, o)">
                        <label matTooltip="{{o?.subtitle}}"
                               [matTooltipDisabled]="disableTooltip(i, j, o)"
                               class="ps-2" for="{{o?.id}}-radio">
                            {{o?.title}}
                        </label>
                    </ng-template>
                </div>

            </div>
        </div>
        <button [disabled]="surveyForm.form.invalid"
                class="btn btn-submit mt-3" type="submit">
            Ответить на опрос
        </button>
    </form>

</ng-template>